.boxes{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}
.Box-grey{
    width: 70px;
    height: 70px;
    margin: 5px;
    background: gray;
}
.Box-white{
    width: 70px;
    height: 70px;
    margin: 5px;
    background: white;
}
.hasItem-show{
    text-align: center;
    display: block;
    font-size: 50px;
    margin: 0;
}
.hasItem-none{
    display: none;
}